.header__link:hover {
  animation-name: logo;
  animation-duration: 5000ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes logo {
  0% {
    transform: perspective(1000px) rotate(0deg);
  }

  5% {
    transform: perspective(400px) rotate(50deg);
  }

  10% {
    transform: perspective(400px) rotate(-41deg);
  }

  18% {
    transform: perspective(400px) rotate(33deg);
  }

  26% {
    transform: perspective(400px) rotate(-26deg);
  }

  34% {
    transform: perspective(400px) rotate(20deg);
  }

  45% {
    transform: perspective(400px) rotate(-15deg);
  }

  59% {
    transform: perspective(400px) rotate(11deg);
  }

  73% {
    transform: perspective(400px) rotate(-7deg);
  }

  90% {
    transform: perspective(400px) rotate(3deg);
  }

  100% {
    transform: perspective(400px) rotate(0deg);
  }
}
