<!DOCTYPE html>
<html lang="en">


<body>
    <section class="offerings">
        <div class="container offerings__container">
            <div class="offerings__img">
                <img 
                srcset="
            ./images/offerings/appleBg-mob-280@1x.png 1x,
            ./images/offerings/appleBg-mob-560@2x.png 2x
            " 
            alt="apple"
            src="./images/offerings/appleBg-mob-280@1x.png"
            />
        </div>

        <div class="offerings__about">
            <h2 class="offerings__about__title">
                What’s Special About Our Offerings
            </h2>
            <p class="offerings__about__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
        </div>
        
        <div class="offerings__benefits">
            <ul class="offerings__benefits__list">
                <li class="offerings__benefits__item">
                    <svg class="offerings__benefits__icon" width="48" height="48">
                        <use href="./images/icon.svg#delivery"></use>
                    </svg>
                    <h3 class="offerings__benefits__title">Fasest Delivery</h3>
                    <p class="offerings__benefits__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                    </p>
                </li>
                <li class="offerings__benefits__item">
                    <svg width="48" height="48" class="offerings__benefits__icon">
                        <use href="./images/icon.svg#order"></use>
                    </svg>
                    <h3 class="offerings__benefits__title">Easy to order</h3>
                    <p class="offerings__benefits__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                    </p>
                </li>
            </ul>
        </div>

        <div class="offerings__under">
            <button class="offerings__under__btn" type="button">Order Now</button>
            <a class="offerings__under__link" href="">Read More</a>
        </div>
    </div>
    </section>
</body>

</html>