<section class="subscription container">
  <div class="subscription__decor-image"></div>
  <div class="subscription__wrapper">
    <h2 class="subscription__title">Subscribe To Get Special Offers</h2>
    <p class="subscription__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscription__form">
      <label class="subscription__label"
        >Enter your email
        <input class="subscription__input" type="email" name="email" />
      </label>
      <button class="subscription__btn" type="submit">Subscribe</button>
    </form>
  </div>
</section>
