.order__btn {
  @extend %button;

  display: none;

  @media screen and (min-width: $tablet) {
    display: block;

    &:hover,
    &:focus {
      background-color: $color-button-active;
    }
  }
}

.subscription__btn {
  @extend %button;

  display: block;

  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 11px;
  padding-left: 22px;

  &:hover,
  &:focus {
    background-color: $color-button-active;
  }

  @media screen and (max-width: ($tablet - 0.02px)) {
    margin-left: auto;
  }
}

.hero__btn {
  @extend %button;

  display: block;

  &:hover,
  &:focus {
    background-color: $color-button-active;
  }
}

.hero__slider-btn--left {
  @extend %slider-button;

  top: 50%;
  left: 0;
  padding-left: 9px;
  padding-right: 13px;

  @media screen and (min-width: $desktop) {
    padding-left: 13px;
    padding-right: 19px;
  }
}

.hero__slider-btn--right {
  @extend %slider-button;

  top: 50%;
  right: 0;
  padding-left: 13px;
  padding-right: 9px;

  @media screen and (min-width: $desktop) {
    padding-left: 19px;
    padding-right: 13px;
  }
}

.offerings__under__btn {
  @extend %button;
  display: block;

  padding: 10px 34px 10px 31px;
  border: $color-border-btn;

  &:hover,
  &:focus {
    border: $color-border-btn-active;
  }
}