.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;

  background-color: $color-background;
  box-shadow: $shadow-header;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__link {
  @extend %link;

  position: relative;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  width: 71px;
  height: 52px;
}
