.offerings {
    background-image: url(../images/offerings/offeringsBg-mob.svg);
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;

}


.offerings__decor-img {
    height: 310px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 60px;
    background-size: 280px 310px;
    
    background-image: url(../images/offerings/appleBg-mob-280@1x.png);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .offerings__decor-img {
        background-image: url(../images/offerings/appleBg-mob-560@2x.png);
    }
}



.offerings__about__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    
    margin-bottom: 28px;
}

.offerings__about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 28px;
}


.offerings__benefits__list {
    @extend %list
}

.offerings__benefits__item {
    margin-bottom: 28px;
}


.offerings__benefits__icon {
    margin-bottom: 8px;
}


.offerings__benefits__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 16px;
}

.offerings__benefits__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
}


.offerings__under {
    margin-bottom: 60px ;
}


.offerings__under__link {
    @extend %link ;

    margin-left: 20px ;
}
